@{
    ViewData["Title"] = "Lỗi Truy Cập";
}
<div class="text-center mt-5">
    <i class="fa-solid fa-triangle-exclamation text-danger" style="font-size: 6rem;"></i>
    <h2 class="mt-4 fw-bold">Xin lỗi! Bạn không có quyền truy cập</h2>
    <p class="text-muted fs-5">Chức năng này yêu cầu quyền hạn cao hơn hoặc bạn chưa đăng nhập hợp lệ.</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary mt-3"><i class="fa-solid fa-home me-2"></i> Trở về Trang chủ</a>
</div>
